#mainheader-notificaciones {
    padding: 10px 10px 10px 0px;
    position: relative;
    /*display:none;*/
}

.notificaciones-titulo {
    cursor: pointer;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative !important;
}

.notificaciones-titulo .titulo-texto {
    position: absolute;
    right: 0;
    top: -10px;
    right: -10px;
}

/* contenido del popup de notificaciones. */
#ul-notificaciones {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    row-gap: 5px !important;
    width: 100% !important;
    padding: 10px !important;
    margin: 0 !important;
    overflow: auto !important;
}


/* listado de notificaciones*/
#ul-notificaciones li {
    list-style: none;
    width: 100%;
    margin: 0px;
}

#ul-notificaciones li:last-child {
    border-bottom: none;
}


.n-fecha {
    font-size: 12px;
    font-weight: bold;
}

.n-contenido {
    font-size: 13px;
}

.n-btn-content {
    float: right;
    margin-top: 20px;
    width: 15%;
}

.n-left {
    float: left;
    width: 85%;
}

.clearfix {
    clear: both;
}

.n-container-no-notificaciones {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

/* fin del listado de las notificaciones */

#mensaje-contenido {
    width: 500px;
    height: 300px;
    display: block;
    margin-bottom: 20px;
}