/*
COLORES:
	#EDEDEE		gris claro		Fondo
	#EC948D		rojo claro		Highlight
*/

/*	bordes	*/
.yui-skin-endotools .yui-dt-scrollable .yui-dt-hd {
	border-left: 1px solid #EC948D;
	border-right: 1px solid #EC948D;
	border-top: 1px solid #EC948D;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.yui-skin-endotools .yui-dt-scrollable .yui-dt-bd {
	border-left: 1px solid #EC948D;
	border-right: 1px solid #EC948D;
	border-bottom: 1px solid #EC948D;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.yui-skin-endotools .yui-dt tr.yui-dt-first td {
	border-top: none;
}

.yui-skin-endotools .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td {
	border-bottom: none;
}

.yui-skin-endotools .yui-dt td {
	border-color: #EC948D;
}

.yui-skin-endotools .yui-dt th {
	border-color: #EC948D;
}

/*	fuente	*/
.yui-skin-endotools .yui-dt table {
	font-family: inherit;
}

/*	fondo header	*/
.yui-skin-endotools .yui-dt th {
	background: none repeat scroll 0 0 #DA291C;
}

/*	texto header	*/
.yui-skin-endotools .yui-dt th, .yui-skin-endotools .yui-dt th a {
	color: #FFFFFF;
}

/* sortable columns */
.yui-skin-endotools th.yui-dt-asc,
.yui-skin-endotools th.yui-dt-desc {
	background: none repeat scroll 0 0 #FFFFFF;
}

/* texto sortable columns */
.yui-skin-endotools th.yui-dt-asc a,
.yui-skin-endotools th.yui-dt-desc a {
	color: #DA291C;
}

/*	resizer	*/
.yui-dt-resizer {
	/*background-color: #CCCCCC;*/
}

/*	fondo	*/
.yui-skin-endotools .yui-dt-scrollable .yui-dt-bd {
	background-color: #EDEDEE;
}
/*	striping	*/
.yui-skin-endotools tr.yui-dt-even {	background-color: #EDEDEE; }
.yui-skin-endotools tr.yui-dt-odd {	background-color: #FFFFFF; }
.yui-skin-endotools tr.yui-dt-even td.yui-dt-asc,
.yui-skin-endotools tr.yui-dt-even td.yui-dt-desc {background-color: #EDEDEE; }
.yui-skin-endotools tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-endotools tr.yui-dt-odd td.yui-dt-desc {	background-color: #FFFFFF; }

/* disable striping in list mode */
.yui-skin-endotools .yui-dt-list tr.yui-dt-even {	background-color:#EDEDEE; }
.yui-skin-endotools .yui-dt-list tr.yui-dt-odd {	background-color:#FFFFFF; }
.yui-skin-endotools .yui-dt-list tr.yui-dt-even td.yui-dt-asc,
.yui-skin-endotools .yui-dt-list tr.yui-dt-even td.yui-dt-desc {background-color:#EDEDEE; }
.yui-skin-endotools .yui-dt-list tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-endotools .yui-dt-list tr.yui-dt-odd td.yui-dt-desc {	background-color:#FFFFFF; }

/* highlighting */
/*.yui-skin-endotools th.yui-dt-highlighted,
.yui-skin-endotools th.yui-dt-highlighted a {
    background-color: EC948D;
}*/
.yui-skin-endotools tr.yui-dt-highlighted,
.yui-skin-endotools tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-endotools tr.yui-dt-highlighted td.yui-dt-desc,
.yui-skin-endotools tr.yui-dt-even td.yui-dt-highlighted,
.yui-skin-endotools tr.yui-dt-odd td.yui-dt-highlighted {
    background-color: #EC948D;
}

/* enable highlighting in list mode */
/*.yui-skin-endotools .yui-dt-list th.yui-dt-highlighted,
.yui-skin-endotools .yui-dt-list th.yui-dt-highlighted a {
    background-color: #EC948D;
}*/
.yui-skin-endotools .yui-dt-list tr.yui-dt-highlighted,
.yui-skin-endotools .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-endotools .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc,
.yui-skin-endotools .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted,
.yui-skin-endotools .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted {
    background-color: #EC948D;
}

/*	selected	*/
.yui-skin-endotools tr.yui-dt-selected td,
.yui-skin-endotools tr.yui-dt-selected td.yui-dt-asc,
.yui-skin-endotools tr.yui-dt-selected td.yui-dt-desc {
	background-color: #EC948D;
	color: #FFFFFF;
    /*background-color: inherit;*/
    /*background-color: #FFFFFF;
	color: #486F65;*/
}

.yui-skin-endotools .yui-dt-list tr.yui-dt-selected td,
.yui-skin-endotools .yui-dt-list tr.yui-dt-selected td.yui-dt-asc,
.yui-skin-endotools .yui-dt-list tr.yui-dt-selected td.yui-dt-desc {
	background-color: #EC948D;
	color: #FFFFFF;
    /*background-color: inherit;*/
    /*background-color: #FFFFFF;
	color: #486F65;*/
}


/*	???	*/
.yui-dt-editor .yui-dt-button button {
    width: 6em;
}

